.googleButton {
	text-transform: uppercase;
	outline: 0;
	background: #FF5A5A;
	height: 42px;
	border: 0;
	padding: 15px;
	margin: 0 0 15px;
	color: #FFFFFF;
	width: 100%;
}

.form {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	max-width: 360px;
	margin: 80px auto 100px;
	padding: 40px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0
		rgba(0, 0, 0, 0.24);
}

.form input {
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	box-sizing: border-box;
	font-size: 14px;
	padding: 15px;
	border: 0;
	margin: 0 0 0 0;
}

form .button {
	text-transform: uppercase;
	outline: 0;
	background: #4CAF50;
	border: 0;
	padding: 15px;
	margin: 0 0 15px;
	color: #FFFFFF;
	width: 100%;
}

form .message {
	margin: 0 0 15px 0;
	color: #b3b3b3;
	font-size: 16px;
}

.form .message a {
	color: #4CAF50;
	text-decoration: none;
}

body {
	background: #84E184;
}


.alert {
	background-color: #f44336; /* Red */
	color: white;
	margin-left: 43%;
	width: 185px;
	border-radius: 9px;
	height: 16px;
	padding-bottom: 8px;
	padding-top: 2px;
	align-content: center;
	text-align: center;
}